* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    font-size: 29px;
    color: #696868;
    margin: 20px 22px 6px;
    width: 696px;
}

.form {
    font-size: 14px;
    font-weight: bold;
    background-color: #FEEED5;
    color: #696868;
    max-width: 740px;
    padding: 8px 22px 15px;
}

.form input,
.form textarea {
    width: 100%;
    border: none;
    height: 35px;
    font-size: 14px;
    margin-top: 8px;
    padding: 10px;
}

.form textarea {
    font-family: inherit;
    height: 110px;
    resize: vertical;
    margin-bottom: 5px;
}

.input-fields {
    padding: 7px 0 10px;
}

.instructions {
    font-weight: normal;
    margin-bottom: 15px;
}

.submit {
    display: flex;
    justify-content: right;
}

.submit-button {
    background-color: #378BAF;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 10px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #3A7C9D;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #A3ABAE;
}