* {
    box-sizing: border-box;
}

.main {
    font-family: Arial, serif;
}

.header h1 {
    font-size: 25px;
    color: #696868;
    margin: 20px 10px 10px;
}

.form {
    font-size: 16px;
    font-weight: bold;
    background-color: #FEEED5;
    color: #696868;
    max-width: 700px;
    padding: 10px;
}

.form input,
.form textarea {
    width: 100%;
    border: none;
    height: 40px;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
}

.form textarea {
    font-family: inherit;
    height: 100px;
    resize: vertical;
}

.input-fields {
    width: 100%;
    padding: 15px;
}

.instructions {
    font-weight: normal;
    padding-left: 15px;
    margin-bottom: 15px;
}

.submit {
    display: flex;
    justify-content: right;
    margin-right: 15px;
}

.submit_button {
    background-color: #378BAF;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.submit_button:hover {
    background-color: #3a7c9d;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #A3ABAE;
}