.employees {
    font-family: Calibri, serif;
    font-size: 22px;
    margin: 1px auto;
    max-width: 865px;
    width: 100%;
}

.employees th,
.employees td {
    padding: 14px;
    border: 1px solid #CCC;
}

.employees th {
    background-color: #3598DB;
    color: #FFF;
    text-align: left;
}

.employees tr:nth-child(odd) {
    background-color: #EEE;
}
