* {
    box-sizing: border-box;
}

.academ-it-course-web {
    background-color: #FEEED5;
    color: #6F655A;
    font-family: Arial, sans-serif;
    max-width: 745px;
    margin: 15px;
    padding: 5px 13px;
}

.header {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 5px;
}

.subheader {
    font-size: 16px;
    font-weight: bold;
    color: #238cb9;
    line-height: 28px;
    margin-bottom: 5px;
}

.line-through {
    text-decoration: line-through;
}

.course-description {
    text-align: justify;
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 15px;
    text-indent: 15px;
}
